@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Eczar&family=Montserrat:wght@400;500;600;700;800;900&family=Poppins:ital,wght@0,200;0,300;0,600;0,900;1,100&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto:wght@300;400;500;700;900&display=swap");
body {
  position: relative;
  padding-top: 55px;
  color: rgb(67, 66, 73);
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

/* change the background color */
.navbar {
  padding: 8px 16px;
  margin: 0;
  background-color: rgb(56, 37, 77) !important;
  background-image: radial-gradient(circle at top left, #1a0e44, #661d69);
}
.navbar .navbar-name {
  font-size: larger;
  font-weight: 400;
  color: rgb(243, 228, 242);
  text-shadow: 1px 1px 1px #000000;
}

.nav-link {
  text-align: center;
  font-size: 20px;
  color: rgb(228, 215, 208);
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.nav-link:hover {
  color: white;
}

/****** CONTENT AREA *********/
.content-area {
  padding-top: 5rem !important;
  padding-bottom: 5rem !important;
  border-bottom: 1px #dfe4f2 solid;
}
.content-area .section-title {
  font-size: 56px;
  font-family: "Montserrat", sans-serif;
}

.content-area#about h1 {
  font-size: 96px;
}
.content-area#about h1 span {
  background-color: #4017d4;
  background-image: linear-gradient(45deg, #4017d4, #af4261);
  background-size: 100%;
  -webkit-background-clip: text;
  background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
.content-area#about h3 {
  font-size: 24px;
  font-family: "Montserrat", sans-serif;
}
.content-area#about .subheading {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
}
.content-area#about .subheading a {
  color: inherit;
  text-decoration: none;
}
.content-area#about .subheading a:hover {
  color: #4017d4;
  text-decoration: underline;
}
.content-area#about .intro-text {
  font-size: inherit;
}

.content-area#projects .content-item {
  max-width: 1250px;
}
.content-area#projects .content-item .proj-name {
  color: #bb5070;
}
.content-area#projects .content-item .subheading {
  font-size: inherit;
  font-weight: 600;
  text-transform: uppercase;
  color: #2b0e2c;
}
.content-area#projects .content-item .subheading .skills {
  font-weight: bold;
  color: #bb5070;
}
.content-area#projects .content-item .proj-description {
  padding-bottom: 20px;
}

.content-area#skills .content-item .skill-category {
  text-transform: uppercase;
  font-weight: bold;
  color: #bb5070;
}

h1, h2, h3,
h4, h5, h6 {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
}

.list-social-icons li {
  padding-right: 10px;
}
.list-social-icons a {
  color: #495057;
}
.list-social-icons a:hover {
  color: #bb5070;
}

@media (min-width: 992px) {
  body {
    padding-top: 0;
    padding-left: 18rem;
  }

  /****** NAVBAR *********/
  .navbar {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 18rem;
  }

  #navbar-container {
    padding: 8px 32px;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 18rem;
  }
  #navbar-container .navbar-brand {
    display: flex;
    margin: auto auto 0;
    padding: 0.5rem;
  }
  #navbar-container .navbar-brand .img-profile {
    max-width: 10rem;
    max-height: 10rem;
    border: 0.5rem solid rgba(255, 255, 255, 0.2);
  }
  #navbar-container .navbar-collapse {
    display: flex;
    align-items: flex-start;
    flex-grow: 0;
    width: 100%;
    margin-bottom: auto;
  }
  #navbar-container .navbar-collapse ul {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  #navbar-container .navbar-collapse ul .nav-item {
    display: block;
  }
  #navbar-container .navbar-collapse ul .nav-item .nav-link {
    display: block;
  }

  /****** CONTENT AREA *********/
  .content-area {
    padding: 3rem !important;
  }
  .content-area .intro-text {
    max-width: 992px;
  }
}
@media (min-width: 768px) {
  .intro-text {
    max-width: 768px;
  }

  .content-area {
    min-height: 100vh;
  }
}/*# sourceMappingURL=main.css.map */